html,
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-main);
    background: var(--color-white);
    color: var(--color-text);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    letter-spacing: 0.01em;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

@keyframes animated-bar {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


/* Fade transition */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


/* Misc */

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    background: var(--color-muted);
    height: 1px;
    max-width: var(--container-width);
    border-radius: 999px;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    button {
        font-size: 1rem !important;
        padding: 0.5rem !important;
    }
}