body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-main);
    background: var(--color-white);
    color: var(--color-text);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    letter-spacing: 0.01em;
}


/* Fade transition */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


/* Misc */

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}