/* Custom NProgress styles */

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #56ffeb !important;
    /* your color */
    height: 3px;
    /* thickness */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #9d1a42, 0 0 5px #00c8ff !important;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
    display: none;
    /* already disabled in config */
}